<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">

    <% if (typeof error !== "undefined") { %>
     <% if(error && error.length>0){%>
        <div class="alert alert-danger">
        <%= error %>
      </div>
     <% }%>
      
    <% } %>

    <!-- enctype are use to send file or upload direct photo -->
    <form method="POST" 
    action="/listings" 
    novalidate class="needs-validation" 
    enctype="multipart/form-data"
    >
      <h3>Create a New Listing</h3>
      <br>

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text"
          name="listing[title]"
          class="form-control"
          required>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="listing[description]"
          class="form-control"
          required></textarea>
        <div class="invalid-feedback">Description is required</div>
      </div>

      <div class="mb-3">
        <label class="form-label">upload listing image</label>
        <input type="file"
          name="listing[image]"
          class="form-control">
      </div>



      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label">Price</label>
          <input type="text"
            name="listing[price]"
            class="form-control"
            min="0"
            required>
          <div class="invalid-feedback">Enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label class="form-label">Country</label>
          <input type="text"
            name="listing[country]"
            class="form-control"
            required>
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text"
          name="listing[location]"
          class="form-control"
          required>
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button class="btn btn-dark mt-3">Add</button>
    </form>
  </div>
</div>